services:
  backend:
    build:
      context: ./Backend
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./Backend:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run dev

  frontend:
    build:
      context: ./Frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run dev
